/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Цвет фона */
    margin: 20px;
    text-align: center; /* Выравнивание текста по центру */
}
header{
    height: 150px;
    background:  #007BFF;
    border-radius: 50px;
    text-align: center;
    color:white;
}
header h1{
    padding: 45px;
    margin: auto;
}
/* Стили для заголовка */
h1 {
    background-color: #007BFF; /* Цвет фона заголовка */
    color: #fff; /* Цвет текста заголовка */
    padding: 10px; /* Отступы вокруг заголовка */
    border-radius: 5px; /* Закругленные углы для заголовка */
}

/* Стили для легенды */
legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Стили для сообщения об ошибке */
p strong {
    color: #FF0000; /* Цвет текста ошибки */
}

/* Стили для радио-кнопок и их меток */
input[type="radio"] {
    margin-right: 5px; /* Отступ справа от радио-кнопок */
}

label {
    font-weight: bold;
    cursor: pointer; /* Изменение курсора при наведении на метку */
}

/* Стили для кнопки "Vote" */
input[type="submit"] {
    background-color: #007BFF; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем границу у кнопки */
    padding: 10px 20px; /* Отступы вокруг текста кнопки */
    font-size: 16px;
    border-radius: 5px; /* Закругленные углы для кнопки */
    cursor: pointer; /* Изменение курсора при наведении на кнопку */
}

/* Стили для кнопки "Vote" при наведении */
input[type="submit"]:hover {
    background-color: #0056b3; /* Изменяем цвет фона при наведении */
}
